.faq-section {
    /* padding-top: 20%;
    margin-top: -2px; */
    background-image: url("/public/img/section-faq.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.faq-title {
    justify-content: center !important;
    border: none !important;
    font-size: 8vw !important;
    font-weight: 600;
    font-family: "Crimson Text";
    color: #B95951 !important;
}
.faq-content {
    background-image: url("/public/img/faq-content.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 85px 80px 130px 80px;
    margin: 80px 0 120px 0;
}
.faq-body {
    font-family: "Crimson Text";
    font-size: 24px;
}
.faq-row-wrapper {
    background-color: transparent !important;
}

.row-content-text {
    text-align: left;
    font-size: 20px !important;
    font-family: "Crimson Text";
}
.row-title-text {
    font-size: 24px;
    font-family: "Crimson Text";
    text-align: left;
}