@font-face {
	font-family: "Crimson Text";
	src: url('../public/font/CrimsonText-Regular.ttf');
}

@font-face {
	font-family: "Leander";
	src: url('../public/font/Leander.ttf');
}
body {
  margin: 0;
  font-family: "Crimson Text";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent !important;
}

